doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/aframe.js')
    script(type='text/javascript', src='/javascripts/aframe-randomizer-components.min.js')
  body
    block content
